@{
    ViewData["Title"] = "Form Submitted";
}
@model Mission4.Models.ApplicationResponse

<div class="text-center">
    <h2 class="display-4">Form Submitted!</h2>
    <h3>So stoked to add @Model.Title to the collection!</h3>
</div>
