@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1  class="display-4">@ViewData["Title"]</h1>

    <h3>Click <a href="https://baconsale.com/">here</a> to go to the Baconsale website!</h3>
</div>